<h1 class="f-1 text-center">¿Qué te apetece?</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
        <a routerLink="bebidas-calientes" class="nav-link">
            <div class="card">
                <img src="assets/images/hotdrinks.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Bebidas Calientes</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a routerLink="refrescos" class="nav-link">
            <div class="card">
                <img src="assets/images/refrescos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Refrescos</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a routerLink="croissants" class="nav-link">
            <div class="card">
                <img src="assets/images/croissants.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Croissants</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a routerLink="" class="nav-link">
            <div class="card">
                <img src="assets/images/bocadillos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Bocadillos</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a routerLink="" class="nav-link">
            <div class="card">
                <img src="assets/images/platosCombinados.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark">Platos combinados</h5>
                </div>
            </div>
        </a>
    </div>


</div>