

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3  row-cols-xl-4 g-4">
      
      <div class="col" *ngFor="let r of refrescos">
        <div class="card">
          <img src="{{r.img}}" class="img-fluid"  alt="{{r.nombre}} - {{r.name}}" *ngIf="r.img">
          <div class="card-body">
            <h5 class="card-title">{{ r.nombre }} - {{ r.name }}</h5>
            <p class="card-text">{{ r.precio | currency:'EUR'}}</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>