<div class="container d-flex justify-content-left">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner col-xs-1 col-sm-1 col-md-1 col-xl-1  my-1 " role="listbox">
        <img src="{{ getSlide() }}" alt="slide" class="img-fluid">
    </div>
    <div class="d-flex justify-content-center mt-3">
   <button (click)='getPrev()' >Prev</button>
  
   <button (click)='getNext()'>Next</button>
  </div>
  </div>
  </div>
  <div class="carousel-item">
    <img src="..." alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>...</h5>
      <p>...</p>
    </div>
  </div>