<div class="container">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam assumenda nisi laborum modi quos quam nulla debitis aut, quae saepe odio labore. Tempore nemo ratione sed, ipsam enim cupiditate tenetur.
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque obcaecati suscipit voluptas quam placeat quis rem porro exercitationem velit, quia, eius quo, facilis omnis excepturi repellendus culpa iste blanditiis dicta!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eos, nostrum necessitatibus dignissimos nisi quaerat, magnam totam rerum, iure molestias dolore fugit voluptates corrupti natus sint molestiae iusto rem eius.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a quod adipisci corrupti cum, laudantium cupiditate magni animi nesciunt nihil perferendis itaque at libero dolorem atque quasi sapiente laboriosam suscipit.

</p>
</div>

<app-image-slider></app-image-slider>
